@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');
@import url('navBarIcon.css');
body {
  background-color: #181719;
  color: #fff;
  width: 100%;
  padding: 0 1%;
}
/* ===========  Nav  ============*/
.navbar {
  padding-top: 30px;
}

button {
  border: none;
  background-color: transparent;
}

.navbar-brand , .navbar-brand:hover {
  padding: 8px;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  font-family: 'Crimson Pro';
}

.navbar .nav-link {
  text-decoration: none;
  padding-right: 80px;
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 500;
}
.navbar .nav-link:hover {
  text-decoration: underline;
  color: #fff;
  font-weight: 700;
}

/* ===========  Section  ============*/

section {
  width: 98%;
  padding: 1%;
  padding-top: 5%;

}

h1 {
  font-family: 'Lora';
  font-size: 48px;
  font-weight: 500;
  padding: 120px 0 50px 0;
}

p {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 3rem;
}

section a , section a:hover {
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
}
.img {
  background-image: url('../img/photo1.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 512px;
  margin-left: 50px;
}

/*=========  Card ==============*/

.card {
   background-color: #181719;
   width: 370px;
   position: relative;
   top: -80px;
   left: 298px;
}

.img-card {
  background-image: url('../img/photo2.png');
  background-size: cover;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-top: 10px;
}

.container {
  height: 85px;
}
.card-title {
  position: relative;
  top: -70px;
  left: 110px;
}

.card-title h5 {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
}

.card-title p {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
  color: #828282;
}

.card-body {
  position: relative;
  top: 5px;
}

.card-text {
  font-family: 'Lora';
  font-size: 24px;
  font-weight: 700;
  width: 235px;
}

.createby {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 700;
  color: #A9A9A9;
}
@media (max-width: 991px) {
  
  .navbar-collapse {
    height: 100vh;
    background: #181719;
  }

  .navbar-nav  {
    margin-top: 20%;
  }

  .navbar-nav .nav-link {
    margin-left: 50%;
    margin-top: 50px;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 14px;
  }

  section a , section a:hover {
    font-size: 14px;
  }

  .card {
    top: -190px;
    left: 130px;
  }
  .img-card {
    width: 65px;
    height: 65px;
  }
  .card-title {
    top: -55px;
    left: 95px;
  }

  .card-title h5 {
    font-size: 12px;
  }

  .card-title p {
    font-size: 10px;
  }

  .card-body {
    top: 10px;
  }

  .card-text {
    font-size: 18px;
  }

}

@media (max-width: 767px) {

  h1 {
    padding: 20px 0 ;
  }

  .img {
    width: 90%;
    margin-top: 50px;
  }

  /*=========  Card ==============*/
  .card {
    width: 350px;
    top: -200px;
    left: 130px;
  }
}

@media (max-width: 620px) {
  .col-md-1 {
    display: none;
  }

  .card {
    width: 300px;
    top: -240px;
    left: 90px;
  }

  .container , .card-body {
    padding: 0px;
    width: 150px;
  }
}

@media (max-width: 620px) {
  .navbar-nav .nav-link {
    margin-left: 40%;
  }

  .card {
    width: 300px;
    top: -300px;
    left: 55px;
  }

}